body {
  overflow: scroll;
  /* display: flex; */
  /* flex-direction: row; */
  background-color: lightgray;

}
.dashboard {
  /* border: red solid 1px; */
  position: fixed;
  /* right: 0%; */
  height: 14%;
  bottom: 0%;
  width: 100%;
}

#game-message {
  position: absolute;
  z-index: 1px;
  color: blue;
  font-size: 100px;
  top: 30%;
  left: 10%;
}

#canvas {
  position: absolute;
  border: solid 1px black;
  /* width: 63.3%; */

}

#points-display {
  font-size: 40px;
  color: purple;
  position: absolute;
  left: 20%;
}

#timer-display {
  color: white;
  position: absolute;
  left: 5%;
  font-size: 50px;
}

#pause-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 2%;
  border-radius: 100%;
  overflow: hidden;

}

#restart-button {
  position: absolute;
  left: 60%;
  bottom: 0%;
  width: 10%;
  height: 14.2%;
  font-size: 120%;
  display: flex;
  justify-content: center;
}