
#canvas {
  position: absolute;
}

#points-display {
  font-size: 60px;
  color: red;
  position: absolute;
  right: 2%;
}


#timer-display {
  color: green;
  position: absolute;
  top: 20%;
  right: 2%;
  font-size: 60px;
}